# Train the model  
Use this notebook to build and train the classification model.

In [9]:
# install dependencies
# %pip install pandas numpy scikit-learn xgboost

In [10]:
import pandas as pd
import numpy as np
import sqlite3
from contextlib import closing

## Loading data

Load the dataset with features, the signatures from the API and concat those.

In [11]:
# load signatures for each hash
with closing(sqlite3.connect("./malwares.sqlite")) as conn:
    cursor = conn.cursor()
    res = cursor.execute("SELECT sha256, signature FROM malwares;")
    signatures = { row[0]: row[1] for row in res.fetchall() }
    
signatures = pd.DataFrame(signatures.items(), columns=["sha256", "signature"])

print(f"Loaded: {len(list(set(signatures['signature'])))} unique signatures from DB")
signatures.head()

Loaded: 179 unique signatures from DB

                                              sha256       signature
0  da2e5977867a2f47a9b60eb9ffcd29cb8a20a9dbcf474b...     AveMariaRAT
1  0cc686705e924703425f0da5b74295c22dff9fe7791de5...  RedLineStealer
2  1d1947aec877778274e161f12b3f9a1e2a995cf7a5ab8a...  RaccoonStealer
3  2272345c34a9a89b1bc3803e5904206aa662690621cd6e...      AgentTesla
4  734a7e6be53fcde44ad4ac1c0852a73af1ed8398929ff8...          Gafgyt

In [12]:
# load features
features = pd.read_csv("./malware-features.csv")

print(f"Loaded {len(features)} samples from the csv file")
features.head()

Loaded 8970 samples from the csv file

,sha256,file_type,file_size,compilation_date,machine,number_of_sections,number_of_strings,s_0,s_1,s_2,...,s_1990,s_1991,s_1992,s_1993,s_1994,s_1995,s_1996,s_1997,s_1998,s_1999
0,c7720dcabf680a642e1b2301d938f0be59066923887810...,executable,189952,1283754400,i386,1,2639,3,0,2,...,1,1,4,5,1,2,1,0,3,0
1,da2e5977867a2f47a9b60eb9ffcd29cb8a20a9dbcf474b...,executable,172975,1632607007,i386,5,2389,1,0,1,...,0,0,0,0,2,4,0,0,0,0
2,ab2e21c310b9f0d048c0a49d0675a798dc1e574ea1a35e...,executable,66916,0,arm,10,203,0,0,0,...,1,0,0,1,0,0,0,0,0,0
3,71475d8552520a40083893f9c69cf8b281c55c7fe69ff5...,executable,409088,1660657215,i386,4,4377,0,1,2,...,6,2,5,3,5,2,4,3,1,0
4,0cc686705e924703425f0da5b74295c22dff9fe7791de5...,executable,292352,1681992870,i386,3,4879,3,4,1,...,4,4,3,3,1,5,0,1,4,2

In [13]:
# data = pd.concat([features, signatures], axis=1, join="inner")
data = pd.merge(features, signatures, on="sha256")
data.head()

,sha256,file_type,file_size,compilation_date,machine,number_of_sections,number_of_strings,s_0,s_1,s_2,...,s_1991,s_1992,s_1993,s_1994,s_1995,s_1996,s_1997,s_1998,s_1999,signature
0,c7720dcabf680a642e1b2301d938f0be59066923887810...,executable,189952,1283754400,i386,1,2639,3,0,2,...,1,4,5,1,2,1,0,3,0,Formbook
1,da2e5977867a2f47a9b60eb9ffcd29cb8a20a9dbcf474b...,executable,172975,1632607007,i386,5,2389,1,0,1,...,0,0,0,2,4,0,0,0,0,AveMariaRAT
2,ab2e21c310b9f0d048c0a49d0675a798dc1e574ea1a35e...,executable,66916,0,arm,10,203,0,0,0,...,0,0,1,0,0,0,0,0,0,Mirai
3,71475d8552520a40083893f9c69cf8b281c55c7fe69ff5...,executable,409088,1660657215,i386,4,4377,0,1,2,...,2,5,3,5,2,4,3,1,0,RedLineStealer
4,0cc686705e924703425f0da5b74295c22dff9fe7791de5...,executable,292352,1681992870,i386,3,4879,3,4,1,...,4,3,3,1,5,0,1,4,2,RedLineStealer

## Cleaning data

In [14]:
# remove rows with no signature
data = data.replace(to_replace='None', value=np.nan).dropna(axis=0, subset=['signature'])
data.head()

,sha256,file_type,file_size,compilation_date,machine,number_of_sections,number_of_strings,s_0,s_1,s_2,...,s_1991,s_1992,s_1993,s_1994,s_1995,s_1996,s_1997,s_1998,s_1999,signature
0,c7720dcabf680a642e1b2301d938f0be59066923887810...,executable,189952,1283754400,i386,1,2639,3,0,2,...,1,4,5,1,2,1,0,3,0,Formbook
1,da2e5977867a2f47a9b60eb9ffcd29cb8a20a9dbcf474b...,executable,172975,1632607007,i386,5,2389,1,0,1,...,0,0,0,2,4,0,0,0,0,AveMariaRAT
2,ab2e21c310b9f0d048c0a49d0675a798dc1e574ea1a35e...,executable,66916,0,arm,10,203,0,0,0,...,0,0,1,0,0,0,0,0,0,Mirai
3,71475d8552520a40083893f9c69cf8b281c55c7fe69ff5...,executable,409088,1660657215,i386,4,4377,0,1,2,...,2,5,3,5,2,4,3,1,0,RedLineStealer
4,0cc686705e924703425f0da5b74295c22dff9fe7791de5...,executable,292352,1681992870,i386,3,4879,3,4,1,...,4,3,3,1,5,0,1,4,2,RedLineStealer

In [15]:
# remove rows with a single signature occurence
is_multi = data["signature"].value_counts() > 1
data = data[data["signature"].isin(is_multi[is_multi].index)]

In [16]:
# extract the features and the target value
y = data.signature
X = data.drop(["sha256", "signature"], axis=1)

In [17]:
from sklearn.preprocessing import LabelEncoder

# label encode categorical columns
encoders = {col: LabelEncoder() for col in X.columns} 
for col in X.columns:
    if X[col].dtype == "object":
        print(f"Fitting encoder for: {col}")
        X[col] = encoders[col].fit_transform(X[col])
        
# label encode target
y_enc = LabelEncoder()
y = y_enc.fit_transform(y)

Fitting encoder for: file_type
Fitting encoder for: machine

In [18]:
X.head()

,file_type,file_size,compilation_date,machine,number_of_sections,number_of_strings,s_0,s_1,s_2,s_3,...,s_1990,s_1991,s_1992,s_1993,s_1994,s_1995,s_1996,s_1997,s_1998,s_1999
0,1,189952,1283754400,4,1,2639,3,0,2,2,...,1,1,4,5,1,2,1,0,3,0
1,1,172975,1632607007,4,5,2389,1,0,1,2,...,0,0,0,0,2,4,0,0,0,0
2,1,66916,0,3,10,203,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
3,1,409088,1660657215,4,4,4377,0,1,2,1,...,6,2,5,3,5,2,4,3,1,0
4,1,292352,1681992870,4,3,4879,3,4,1,0,...,4,4,3,3,1,5,0,1,4,2

In [19]:
print(f"Loaded: {len(list(set(y)))} signatures")
y = pd.DataFrame(y, columns=["signature"])
y.head()

Loaded: 109 signatures

   signature
0         33
1          7
2         59
3         83
4         83

In [20]:
# split to train and test sets
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, stratify=y)

## Building model

In [21]:

# build model
import xgboost as xgb

model = xgb.XGBClassifier(objective="multi:softprob", n_estimators=500, early_stopping_rounds=200, learning_rate = 0.1)
model.fit(X_train, y_train, eval_set=[(X_train, y_train), (X_valid, y_valid)], verbose=100)

print("Model ready")

[0]	validation_0-mlogloss:2.75203	validation_1-mlogloss:2.86833
[100]	validation_0-mlogloss:0.04931	validation_1-mlogloss:1.24890
[200]	validation_0-mlogloss:0.01773	validation_1-mlogloss:1.28770
[278]	validation_0-mlogloss:0.01298	validation_1-mlogloss:1.30702
Model ready

In [22]:
# compute the MAE
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_valid, model.predict(X_valid))
print("Model mean error: ", mae)

Model mean error:  16.01141407736208

In [27]:
import pickle
model.save_model("8000.model")
with open("encoders.pkl", "wb") as f:
    pickle.dump([encoders, y_enc], f)

## Making a prediction

In [23]:
from extract_features import get_features, Features

In [24]:
def feat_to_dataframe(feat: Features):
    columns = [
        "sha256",
        "file_type",
        "file_size",
        "compilation_date",
        "machine",
        "number_of_sections",
        "number_of_strings",
    ] + [f"s_{k}" for k in range(2000)]
    return pd.DataFrame([feat.to_row()], columns=columns)

def feat_to_vector(feat: Features):
    df = feat_to_dataframe(feat)
    df = df.drop(["sha256"], axis=1)
    
    for col in df.columns:
        if df[col].dtype == "object":
            df[col] = encoders[col].transform(df[col])
        
    return df

In [25]:
# get the path to the sample
path = "/home/user/Downloads/7f139e55e24e25c6544a78d48a04400430a3431830e694ee0946d90075ec2a9c.dll"

# get its features
features = get_features(path)
vector = feat_to_vector(features)


# predict it's signature
predictions = model.predict_proba(vector)[0]

# get the names on the prediction
p_df = pd.DataFrame(enumerate(predictions), columns=["signature", "probability"])
p_df["signature"] = y_enc.inverse_transform(p_df["signature"])

p_df.sort_values("probability", ascending=False)

         signature  probability
83  RedLineStealer     0.260841
3           Amadey     0.191931
2       AgentTesla     0.033833
5    AuroraStealer     0.027763
33        Formbook     0.024063
..             ...          ...
43         Hardbit     0.001492
53     LucaStealer     0.001487
74           Phonk     0.001478
57         Mekotio     0.001464
42          Hajime     0.001447

[109 rows x 2 columns]